/*banner*/
.banner {
    background-image: url("../img/blackboard.jpg");
    width: 100%;
    height: 20%;
}

.logoEva {
    margin: 20px;
    margin-left: 20%;
    /*margin-top: 20px;*/
    /*margin-left: 20px ;*/
    width: auto;
    height: 60%;
}

/*header Challenge*/
.headerChallenge {
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 6em;
    font-weight: bold;
}

/*images*/
.timeLineImage {
    height: 100%;
    width: 100%;
}

.footerImg {
    height: 300px;
    width: 2700px;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/veggiDinner.jpg) no-repeat;
}

/*banner*/
.leaf {
    background-image: url("../img/leaf.svg");
    opacity: 0.5;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.filled {
    opacity: 1;
}

.leafContainer {
    float: right;
}

.leafDiv{
    float: right;
}

.iconDiv {
    display: block;
    float: left;
}

.fb {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.instagram {
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.google {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

/*dialogbox*/
.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .debt-be-gone {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer,
.dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}

/*Card*/

.cardDiv {
    text-align: center;
}

.card {
    min-width: 300px;
    width: 50%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.md-card-image {
    height: 200px;
    width: 100%;
    margin: 0px auto;
}

/*Dialog*/
#inDialogImage {
    margin: 0px auto;
    width: 100%;
}

/*Timeline*/
.hidden {
    visibility: hidden;
}

.hidden2 {
    visibility: hidden;
}

/*Body*/
.container {
    /*background-color: #AFBC1F;*/
    /*background-color: #BCBE00;*/
    /*background-color: #F15C23*/
    background-color: #BCBE00;
}

/*Timeline badge color per Category*/
.timeline li timeline-badge.Breakfast{
    background-color: #016990;
}

.timeline li timeline-badge.Dinner{
    background-color: #B3A49E;
}

.timeline li timeline-badge.Lunch{
    background-color: #F3DE00;
}

.timeline li timeline-badge.Social{
    background-color: #006C68;
}

.timeline li timeline-badge.afterDialog{
        z-index:80;
    }
